<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ 版权所有（c）2018，2019，西安大华时代网络科技有限公司。保留所有权利。
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!-- Content here -->
  <div class="row">
    <div class="col-9">
      <div style="text-align:center">
        <h1>
          欢迎来到 {{ title }}！
        </h1>
      </div>
      <h2>Bootstrap 组件</h2>
      <ul>
        <li>
          <h2><a rel="noopener" routerLink="/accordion-basic">Accordion</a></h2>
        </li>
        <li>
          <h2><a rel="noopener" routerLink="/alert-basic">Alert</a></h2>
        </li>
        <li>
          <h2><a rel="noopener" routerLink="/buttons-checkbox">Buttons</a></h2>
        </li>
        <li>
          <h2><a rel="noopener" routerLink="/carousel-basic">Carousel</a></h2>
        </li>
      </ul>

      <router-outlet></router-outlet>

      <br>

      <h2>欢迎加入<a target="_blank" rel="noopener" href="https://ss.xadhsd.com/">大华软件学院</a>QQ群交流，群号：665714453。</h2>
    </div>
  </div>
</div>
